/.vscode
/alphaRangoli.py
/assign.py
/binarySearch.py
/bubbleSort.py
/CREATE USER 'ankit'@'localhost'.sql
/DLLs
/Doc
/employeeManagement.py
/exponentiation.py
/gcd.py
/include
/Lib
/libs
/LICENSE.txt
/linearSearch.py
/maximize_it.py
/minMax.py
/mulMatrix.py
/NEWS.txt
/Newton'sMwthod.py
/noConversion.py
/primeNo.py
/prims animation.py
/pyramid.py
/python.exe
/python3.dll
/python38.dll
/pythonw.exe
/rockPaperScissor.py
/rom_Int.py
/Scripts
/share
/slice_str.py
/starPattern.py
/tcl
/Tools
/vcruntime140.dll
/vowRemove.py
/__pycache__